[user]
	name  = <your-username>
	email = <your-email>

[github]
	user     = <your-github-username>
	password = <your-github-password>

[core]
	editor       = vim
	pager        = tig
	excludesfile = ~/.gitignore

[pager]
	diff  = false
	graph = false

[color]
	ui    = true
	diff  = true
	pager = false

[color "branch"]
	current = blue
	local   = yellow
	remote  = green

[color "status"]
	added     = green
	changed   = yellow
	untracked = red

[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[diff]
	mnemonicprefix = true
	external       = git-meld
	# Mac OS x
	#tool          = Kaleidoscope

[gc]
	auto                    = 0
	reflogExpire            = never
	reflogexpireUnreachable = 100 days

[branch]
	autosetuprebase = never

[mergetool]
	keepBackup = false

[push]
	# Old Git version
	#default = current

	default = tracking

[help]
	autocorrect = 1

[url "git@github.com:"]
	insteadOf     = "ghs:"
	pushInsteadOf = "ghs:"

[url "git://github.com/"]
	insteadOf = "gh:"

[url "git@gist.github.com:"]
	insteadOf     = "gists:"
	pushInsteadOf = "gists:"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[url "git@bitbucket.org:"]
	insteadOf     = "bbs:"
	pushInsteadOf = "bbs:"

[url "https://bitbucket.org/"]
	insteadOf = "bb:"

[alias]
	# Repository
	cleanup = !echo 'This will prune origin, run GC and clear stash.\nAre you sure ? (RETURN to continue | CTRL+C to cancel)' && read && git remote prune origin && git gc && git stash clear
	ignore  = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
	make    = "!f() { git init && git commit --allow-empty -m\"Initial commit\"; }; f"

	# Aliases
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort

	# Staging
	addall  = !git add -u && git add . && git ls
	unadd   = !git reset HEAD --
	patch   = add --patch
	
	# Commit
	amend   = commit --amend -C HEAD
	cp      = cherry-pick -ex
	undo    = !git reset --soft HEAD~ && git ls

	# Branch
	br      = branch -v
	bra     = !git br -a
	brr     = !git br -r
	brn     = !git bra --no-merged
	cb      = checkout -b
	finish  = "!f() { BRANCH=$(git pwd); git rebase -i $1 && git checkout $1 && git merge $BRANCH; }; f"
	develop = checkout develop
	master  = checkout master
	pwd     = rev-parse --abbrev-ref HEAD
	go      = "!f() { git branch $1 2>/dev/null; git checkout $1; }; f"
	wip     = "!f() { BRANCH=$(git pwd); (git go wip/$1) && git addall && git commit -m'Work in progress' && git checkout $BRANCH; }; f"

	# Status
	d       = !git --no-pager diff
	dc      = !git d --cached
	stat    = diff --stat
	st      = !tig status
	ls      = status --short

	# Remote
	fetchor = fetch origin
	fetchup = fetch upstream
	pullor  = !git rp origin
	pullup  = !git rp upstream
	pushor  = push origin
	pushup  = push upstream
	rp      = pull --rebase

	# Log
	l       = !git log | tig -FRSX
	graph   = !GIT_PAGER='less -FRSX' git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative --all

	# Utilities
	g       = gui
	k       = !gitk --all > /dev/null 2>&1 
	# http://jonas.nitro.dk/tig/
	t       = !tig
	# https://github.com/defunkt/gist
	gst     = gist
